<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<!-- Enable JMX for logback -->
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level %logger{36}: %message%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME:-${USERPROFILE}}/UniBuild/logs/unibuild-server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${HOME:-${USERPROFILE}}/UniBuild/logs/unibuild-server.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 9999 days' worth of history -->
			<maxHistory>9999</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date %-5level %logger{36}: %message%n</pattern>
		</encoder>
	</appender>



	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>